<!-- toolbar.component.html -->
<mat-toolbar color="primary" class="toolbar">
  <span class="logo">
    <img src="https://i.imgur.com/oiYhULk.png" alt="Logo" class="app-logo" />
    Chemtrack
  </span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/services" routerLinkActive="active-link">Services</a>
    <a mat-button routerLink="/deliveries" routerLinkActive="active-link">Deliveries</a>
    <a mat-button routerLink="/incidents" routerLinkActive="active-link">Incidents</a>
    <a mat-button routerLink="/employees" routerLinkActive="active-link">Employees</a>
  </nav>
</mat-toolbar>
